# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ self-hosted, Linux ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: Manage ssh conf
        run: |
          test -e "$HOME/.ssh/id_rsa" || (mkdir -p "$HOME/.ssh" && echo "$SSH_DEPLOY_KEY" > "$HOME/.ssh/id_rsa")
          test -e "$HOME/.ssh/known_hosts" || echo "github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl" > "$HOME/.ssh/known_hosts"
          chmod 600 "$HOME/.ssh/id_rsa"
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
          
      - name: Push to github.com
        run: |
          if ! git remote |grep -q github.com; then
            git remote add github.com git@github.com:airbus-cert/skyblue.team
          fi
          git push github.com main
        
      - name: Don't keep any draft
        run: "(! git grep '^draft:\\s[tT][rR][Uu][Ee]' content/)"
